.card-header{
    background-color:rgb(124, 57, 74);
    color: whitesmoke;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background:rgb(124, 57, 74);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
